/* Style for buttons and links */

button[type="submit"], a.button {
    width: 200px;
    background-color: var(--button-color);
    color: var(--primary-background-color);
    font-size: 1rem;
    cursor: pointer;
    padding : 12px 24px;
    border: none;
    border-radius: 1px;
    text-decoration: none;
    text-align: center;
}


button[type="submit"]:hover, a.button:hover {
    background-color: var(--button-hover-color);
}

@media screen and (max-width: 600px) {


    button[type="submit"], a.button {
        font-size: 0.875rem;
        width: 175px;
    }
}
@media screen and (max-width: 350px) {


    button[type="submit"], a.button {
        width: 160px;
    }
}