/* main styling: colors, fonts for the entire Website */
:root {
    --secondary-background-color: #f0f0f0;
    --primary-background-color: #ffffff;
    --button-color: #008000;
    --button-hover-color: #006d00;
    --secondary-color: #f0f0f0;
    --text-color: #333;
    --index-background-color: #d3d3d32d;
    --footer-background-color: #363636b4;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --header-background-color: #ffffff;
}
@font-face {
    font-family: 'Raleway';
    src: url(../assets/font/static/Raleway-Light.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url(../assets/font/static/Raleway-Bold.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    font-size: 1.25rem;
    height: 100%;
    background-color: var(--primary-background-color);
}

main {
    flex: 1;
    margin: 0 auto;
    padding-top: 30px;
}

section {
    color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --secondary-background-color: #424242;
        --primary-background-color: #1b1b1b;
        --button-color: #4caf50;
        --button-hover-color: #388e3c;
        --secondary-color: #2c2c2c;
        --text-color: #e0e0e0;
        --index-background-color: #292929;
        --footer-background-color: #1d1d1d;
        --shadow-color: rgba(250, 250, 250, 0.1);
        --header-background-color: #2b2b2b;
    }

    img.logo {
        filter: invert(1);
    }
}