
:root {
    --secondary-background-color: #f0f0f0;
    --primary-background-color: #ffffff;
    --primary-color: #008000;
    --button-hover-color: #006d00;
    --secondary-color: #f0f0f0;
    --text-color: #333;
}
@font-face {
    font-family: 'Raleway';
    src: url(../assets/font/static/Raleway-Light.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url(../assets/font/static/Raleway-Bold.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

section#recipe-of-the-day {
    color: var(--text-color);
    margin: 30px 80px 30px 80px;
    font-size: 1.25rem;
}
.recipe-of-the-day-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
img.curry {
    width: 300px;
    height: 200px;
    object-fit:cover;
    border-radius: 10px;
    object-position: 100% 60%;
}
.recipe-of-the-day {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
h2 {
    margin: 0 0 20px 0;
}

p {
    margin: 0 0 50px 0;
}

img.recipe-new-section {
    width: 100px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    object-position: 100% 60%;
}
