/* main styling: colors, fonts for the entire Website */
:root {
    --secondary-background-color: #f0f0f0;
    --primary-background-color: #ffffff;
    --button-color: #008000;
    --button-hover-color: #006d00;
    --secondary-color: #f0f0f0;
    --text-color: #333;
    --index-background-color: #d3d3d32d;
    --footer-background-color: #363636b4;
}
@font-face {
    font-family: 'Raleway';
    src: url(../assets/font/static/Raleway-Light.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url(../assets/font/static/Raleway-Bold.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    max-width: 1920px;
    margin: 0 auto;
    font-size: 1.25rem;
    height: 100%;
}
main {
    flex: 1;
    margin: 0 auto;
    padding-top: 30px;
}

section {
    color: var(--text-color);
}
