
main {
    padding: 100px;
}
.contact-form-container {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact-form, .success-message-div {
    max-width: 800px;
    margin: 0;
    width: 100%;
    padding: 20px;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-bottom: 20px;
    font-size: 1.75rem;
    color: var(--text-color);
}

label {
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: var(--text-color);
}

input, textarea {
    width: 95%;
    padding: 5px 10px;
    margin: 10px 0;
    border: 1px solid var(--secondary-background-color);
    border-radius: 10px;
    font-size: 1rem;
}
textarea {
    min-height: 150px;
}

button[type="submit"], a {
    margin: 0 auto;
    display: block;
}

.success-message {
    font-size: 1.25rem;
    color: var(--text-color);
    padding: 20px;
    text-align:center;
}


@media screen and (max-width: 648px) {

    main {
        padding: 80px;
    }
    #contact-form, .success-message {
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 550px) {

    textarea {
        min-height: 100px;
    }
}
@media screen and (max-width: 450px) {

    main {
        padding: 60px;
    }
    #contact-form, .success-message {
        font-size: 0.95rem;
    }
    input, textarea {
        font-size: 0.95rem;
    }
    h2 {
        font-size: 1.35rem;
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 370px) {

    #contact-form {
        font-size: 0.875rem;;
    }
    input, textarea {
        font-size: 0.875rem;;
    }
    h2 {
        font-size: 1.25rem;
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 350px) {

    main {
        padding: 50px;
    }
}