
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    margin: 0;
    padding-top: 20px;
    padding-bottom: 0;
    width: 100%;
    min-height: 230px;
}

.socials-container img:hover {
  background-color: var(--button-hover-color);
  border-radius: 50%;
  transition: 125ms ease;
}

.socials-container img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.socials-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.footer-links {
  font-size: 18px;
  color: var(--footer-text-color);
  text-decoration: none;
}

.footer-links:hover {
  color: var(--button-hover-color);
  cursor: pointer;
  text-decoration: underline;
  transition: 125ms ease;
}

.links-container {
  height: 60px;
  text-align: center;
}

@media  screen and (max-width: 600px) {
  .footer {
    padding-top: 20px;
    min-height: 200px;
  }
  .socials-container img {
    width: 24px;
    height: 24px;
  }
  
  .footer-links {
    font-size: 16px;
  }
  
  .links-container {
    height: 40px;
  }
  
}
@media screen and (max-width: 402px) {
  .footer {
    padding-top: 10px;
  }
  
  .socials-container img {
    width: 20px;
    height: 20px;
  }
  
  .footer-links {
    font-size: 14px;
  }
  
  .links-container {
    height: 30px;
  }
  
}
@media screen and (max-width: 402px) {
  .footer {
    padding-top: 10px;
  }
  
  .socials-container img {
    width: 20px;
    height: 20px;
  }
  
  .footer-links {
    font-size: 14px;
  }
  
  .links-container {
    height: 30px;
  }
  
}